body {
    font-family: 'Nunito', sans-serif;
  }
  .container {
    max-width: 960px !important;
  }
  .header {
    display: flex;
    margin-bottom: 20px;
  }

  .main-title {
    font-size: 26px;
    text-transform: uppercase;
    border-bottom: 3px solid #3d9970;
    margin: 0 auto;
  }

  .name {
    font-size: 20px;
    font-weight: bold;
  }

  table th {
    margin: 0 !important;
    padding: 0 !important;
  }

  table td {
    padding: 5px !important;
  }

  table th h3 {
    font-size: 16px;
    text-transform: uppercase;
    background-color: #3d9970 !important;
    color: #ffffff;
    font-weight: bold;
    padding: 5px;
  }

  .info {
    margin-bottom: 10px;
  }

  .title {
    padding-left: 50px !important;
    width: 30%;
  }

  .sign {
    width: 10%;
  }

  @media print {
    .container {
      padding: 0 !important;
      border: 0 !important;
    }
  }